<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219686309887-jbdlrs6g0207bb04n7fvun9evcid0ulf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219686309887-jbdlrs6g0207bb04n7fvun9evcid0ulf</string>
	<key>API_KEY</key>
	<string>AIzaSyBDNBXmDHACx3jBlQHX9QjcVeO2vj-0czs</string>
	<key>GCM_SENDER_ID</key>
	<string>219686309887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appokr.AppOKR</string>
	<key>PROJECT_ID</key>
	<string>app-okr</string>
	<key>STORAGE_BUCKET</key>
	<string>app-okr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219686309887:ios:70df38b7560ad69e7961ca</string>
</dict>
</plist>